.alert {
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
